body {
    background-image: url("../images/memphis-mini.png");
    margin: 0;
}

/* header style */

header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-bottom: solid #cccccc 1px;
}

.headerContainer {
    width: 960px;
    margin: 0 auto;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    height: 30px;
    padding: 20px 10px;
    float: left;
    margin: 0;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1:hover{
    background-color: white;
    color: #4aaaa6;
}

/* navigation menu */

nav {
    float: right;
    padding: 20px 0 0 0;

}

a {
    color: lightgray;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0 5px 0 0; 
}

/* body style */

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* about page */
section {
    width: 960px;
    /* height: max-content; */
    margin: 30px auto;
    background-color: #ffffff;
    border: solid #dddddd 1px;
    padding: 20px;
    overflow: auto;
}

/*.personalImage {
    transform: rotate(90deg);
    width: 250px;
    height: 250px;
} */

.personalImage {
    transform: rotate(90deg);
    width: 250px;
    height: 250px;
    float: left;
    margin: 20px 10px;
    padding: 0px;
    overflow: hidden;
}

img {
    /*float: left;
    margin: 0 auto;
    padding: 20px;
    width: 250px;*/
    height: 250px;
    position: relative;
}


/* contact page */
input[type=text], input[type=email] { 
    width: 100%;
    /* resize: vertical */
}

input[type=text]:hover, input[type=email]:hover, textarea:hover { 
    border: solid #4aaaa5 1px;
}

textarea {
    width: 100%;
    resize: vertical;
  }

/* there is no space for input specifications */
input[type=submit] {
  background-color: teal;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover{
    background-color: white;
    color: teal;
}

/* gallery page */

/*
.gallery {
    float: left;
    margin: 0 auto;
    width: 250px;
    height: 250px;
} */

.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: max-content;
    grid-gap: 50px 20px;
}

#img1,  #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9 {
    width: 100%;
    height:auto%;
  }

/* footer style */

footer {
    width: 100%;
    background-color: #666666;
    height: 5%;
    text-align: center;
    font-size: small;
    border-top: 10px solid #4aaaa5;
}

#footer {
    position: fixed;
    bottom: 0;
}