body {
    background-image: url("../images/memphis-mini.png");
    margin: 0;
}

/* header style */

header {
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: solid darkgray 1px;
}

.headerContainer {
    width: 960px;
    margin: 0 auto;
}

h1 {
    background-color: teal;
    color: white;
    height: 30px;
    padding: 20px 10px;
    float: left;
    margin: 0;
}

nav {
    float: right;
    padding: 20px 0 0 0;

}

a {
    color: lightgray;
    text-decoration: none;
    font-size: 18px;
    margin: 0 5px 0 0; 
}

/* body style */

section {
    width: 960px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    overflow: auto;
}

.personalImage {
    transform: rotate(90deg);
    width: 250px;
    height: 250px;
}

img {
    float: left;
    margin: 0 auto;
    padding: 20px;
    width: 250px;
    height: 250px;
    position: relative;
}


input[type=text], input[type=email], textarea { 
    width: 100%;

}

/* there is no space for input specifications */
input[type=submit] {
  background-color: teal;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/*
.gallery {
    float: left;
    margin: 0 auto;
    width: 250px;
    height: 250px;
} */

/* footer style */

footer {
    width: 100%;
    background-color: white;
    height: 70px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    /* position:-webkit-sticky; /* Safari 
    position: sticky;
    bottom: 0; */
}

#footer {
    position: fixed;
    bottom: 0;
}